@page "/"
@rendermode InteractiveWebAssembly
@using LTBlog.Client.Model
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Home</PageTitle>

<hr>
<LoadingProgress>
    <p>612: </p>

    @if (state is SensorState s) {
        <p>@($"时间: {DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")}")</p>
        <p>@($"温度: {s.Temperature:0.0}°C")</p>
        <p>@($"相对湿度: {s.Humidity:#0.00}%")</p>
        <p>@($"体感温度: {s.HeatIndex:0.0}°C")</p>
        <p>@($"海拔高度: {s.Altitude:0.0}m")</p>
    }

    是否连接服务： @hubConnection?.State
</LoadingProgress>
<hr>

@code {
    private HubConnection? hubConnection;
    private SensorState? state;

    protected override async Task OnInitializedAsync() {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/sensorhub"))
            .AddMessagePackProtocol()
            .Build();

        hubConnection.On<SensorState>("ReceiveState", state => {
            this.state = state;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync() {
        if (hubConnection is not null) {
            await hubConnection.DisposeAsync();
        }
    }
}