@page "/"
@using ICSharpCode.Decompiler.CSharp

<PageTitle>Home</PageTitle>

<h1>主页</h1>

<h2>.NET 程序集反编译到 IL</h2>

<blockquote>
    <p>下面的内容现不可用</p>

    <p>
        详见
        <FluentAnchor
            Href="https://github.com/dotnet/aspnetcore/issues/57429"
            Appearance="Appearance.Hypertext">
            .GetAwaiter().GetResult() limitation in Blazor WebAssembly #57429
        </FluentAnchor>
    </p>

    <p>
        使用的
        <FluentAnchor
            Href="https://www.nuget.org/packages/ICSharpCode.Decompiler"
            Appearance="Appearance.Hypertext">
            ICSharpCode.Decompiler
        </FluentAnchor> 库在内部调用了 <code>.GetAwaiter().GetResult()</code> 方法
    </p>
</blockquote>

<div>
    <FluentInputFile Id="my-file-uploader"
                     Mode="InputFileMode.SaveToTemporaryFolder"
                     MaximumFileSize="@(100 * 1024 * 1024)"
                     @bind-ProgressPercent="@_progressPercent"
                     OnFileUploaded="@OnUploaded"
                     Style="height: 300px;">
        <ChildContent>
            <label for="my-file-uploader">
                <FluentIcon Value="@(new Icons.Regular.Size24.ArrowUpload())" />
            </label>

            <div>
                Drag files here you wish to upload,
                or <label for="my-file-uploader">browse</label>
                for them<span style="color: red;">*</span>.
                <br />
            </div>

            <div>
                <br />
                <a href="#">Read more about our supported file formats.</a>
            </div>
        </ChildContent>
    </FluentInputFile>
</div>

<div>
    <FluentButton Appearance="Appearance.Accent" OnClick="DecompileToCSharp">反编译为 C#</FluentButton>
</div>

<div>
    <h3>反编译结果</h3>
    <pre>@_result</pre>
</div>

<hr />

<h2>
    语录
</h2>

<blockquote>
    <p>哪种更加高尚。默然忍受命运暴虐的毒箭，或是挺身反抗人世无涯的苦难，通过斗争把它们扫个干净。</p>
</blockquote>
<FluentButton Appearance="Appearance.Accent">换一个</FluentButton>

@code {
    private int _progressPercent;
    private FileInfo? _file;

    private void OnUploaded(FluentInputFileEventArgs e) {
        _file = e.LocalFile;

        _progressPercent = 0;
    }

    private string _result = string.Empty;

    private void DecompileToCSharp() {
        if (_file == null) {
            _result = "请先上传一个 DLL 文件。";
            return;
        }

        var decompiler = new CSharpDecompiler(_file.FullName, new());
        _result = decompiler.DecompileWholeModuleAsString();
    }

}