@page "/"
@implements IAsyncDisposable
@using LTBlog.Data
@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>Home</PageTitle>

<p>612: </p>

@if (_data is { } data) {
    <p>@($"时间: {DateTime.Now:yyyy-MM-dd HH:mm:ss}")</p>
    <p>@($"温度: {data.Temperature:0.0}°C")</p>
    <p>@($"相对湿度: {data.Humidity:#0.00}%")</p>
    <p>@($"体感温度: {data.HeatIndex:0.0}°C")</p>
    <p>@($"海拔高度: {data.Altitude:0.0}m")</p>
}

是否连接服务： @_hubConnection?.State

@code {
    private HubConnection? _hubConnection;
    private MeterData? _data;

    protected override async Task OnInitializedAsync() {
        //_hubConnection = new HubConnectionBuilder()
        //    .WithUrl("https://api.littletoxic.top/sensor-hub")
        //    .AddMessagePackProtocol()
        //    .Build();

        //_hubConnection.On<MeterData>("ReceiveState", data => {
        //    _data = data;
        //    InvokeAsync(StateHasChanged);
        //});

        //await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync() {
        if (_hubConnection is not null) {
            await _hubConnection.DisposeAsync();
        }
    }

}